* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(209, 209, 162);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

.info {
  background-color: blanchedalmond;
  border: 3px solid black;
  font-size: 12px;
  color: rgb(47, 47, 96);
  text-align: center;
  border-width: ;
}
.info {
  padding: 10px 10px;
}

#sign-up {
  background-color: rgb(239, 243, 193);
  border: 5px solid rgb(203, 228, 204);
  width: 400px;
  padding: 25px;
  margin: 30px 30px;
}

p {
  color: rgb(31, 31, 83);
  margin-bottom: 20px;
}

input,
button {
  padding: 8px;
  font-size: 16px;
}

a {
  background-color: whitesmoke;
}

#sign-up p {
  color: rgb(49, 112, 49);
}
img {
  width: 300px; /* height will calculate it automatically. */
}
